body {
        background-image: url("https://instructure-uploads.s3.amazonaws.com/account_180000000085240/attachments/53502025/CanvasWebsterLogo_login.svg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1936742155&Signature=V0WeM7MZPu0twNMpfUSMzMqLe7Q%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0");
        background-size: 25%;        
        background-repeat: no-repeat;
        height: 100vh;
        background-position: bottom left;
        background-color: #004990;
}

/*

@import url('//fonts.googleapis.com/css?family=Sabon');

.myContent {
        background-color: rgba(255, 255, 255, .5);
}

*/

